---
import Badge from "@/components/Badge.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Layout from "@/layouts/Layout.astro"
import { TAGS } from "@/data/tags"
import Tag from "@/components/Tag.astro"
---

<Layout
  title="Design System Components"
  description="Componentes que utilizados en esta Web App"
>
  <SectionContainer class="py-44 pb-32 flex flex-col gap-y-10">
    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;Badge /&gt;</h1>

      <Badge>Disponible para trabajar</Badge>
    </article>

    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">List of &lt;Tag /&gt;</h1>

      <div class="flex">
        <ul class="flex flex-row mb-2 gap-x-2 flex-wrap">
            <li>
              <Tag tag={TAGS.GRAPHQL}/>
            </li>
            <li>
              <Tag tag={TAGS.NEXT}/>
            </li>
        </ul>
      </div>
    </article>
  </SectionContainer>
</Layout>
