---
  const personalImageAlt = "Carlos Daniel Cortez"
---

<article class="flex flex-col items-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong>Cursos certificados.</strong>
        <ul class="list-disc pl-4">
            <li>
                Curso De Asincronismo con JavaScript.
            </li>
            <li>
                Curso De Copywriting para Plataformas Digitales.
            </li>
            <li>
              Curso Fe ECMAScript 6+.
            </li>
            <li>
              Curso Profesional Javascript.
            </li>
            <li>
              Curso de Webpack.
            </li>
            <li>
              Curso REACT JS.
            </li>
            <li>
              Curso de Figma.
            </li>
            <li>
              Curso Diseño para programadores
            </li>
            <li>
              Curso de Fundamentos de Nodejs.
            </li>
            <li>
              Curso Práctico de Fronten Developer.
            </li>
            <li>
              Curso de Frontend Developer.
            </li>
            <li>
              Curso Práctico de Javascript.
            </li>
            <li>
              Curso Básico de JavaScript.
            </li>
            <li>
              Curso de Fundamentos de Javascript.
            </li>
            <li>
              Curso de Prework: Buenas Prácticas y Entorno de Desarrollo en macOS
            </li>
            <li>
              Curso de Creación y Optimización de Sitios Web con WordPress.
            </li>
        </ul>
        
    </p>

    <p class="pt-2">
      <strong>Canales de aprendizaje favoritos</strong>
        <ul class="list-disc pl-4">
            <li>
              <a href="https://www.youtube.com/@DevTalles">@DevTalles.</a>
            </li>
            <li>
              <a href="https://www.youtube.com/@FaztTech">@FaztTech.</a>
            </li>
            <li>
              <a href="https://www.youtube.com/@midulive">@midulive.</a>
            </li>
            <li>
              <a href="https://www.youtube.com/@HolaMundoDev">@HolaMundoDev.</a>
            </li>
            <li>
              <a href="https://www.youtube.com/@BettaTech">@BettaTech.</a>
            </li>
            <li>
              <a href="https://www.youtube.com/@mouredev">@mouredev.</a>
            </li>
        </ul>
    </p>
  </div>

</article>